<!DOCTYPE html>
<html>
<head>
    <title>TMFountains</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
          <link rel="icon" href="/static/logo.png" type="icon">
          <link style=>
</head>
<body>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="/static/logo.png" alt="Logo" width="110" height="60" class="d-inline-block align-text-top">
      TMFountains
    </a>
  </div>
</nav>
<div class="container">
    <iframe style="width: 100%"
height="450"
loading="lazy"
allowfullscreen
referrerpolicy="no-referrer-when-downgrade"
src = "https://www.google.com/maps/embed/v1/directions?origin={{ lat_p }}+{{ lng_p }}&destination={{ lat_f }}+{{ lng_f }}&mode=walking&key=AIzaSyBdiwv2zv-I2eBzLvHNamMvqjTw2AE8-8s">
</iframe>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
crossorigin="anonymous"></script>
<script src="/static/mainjava.js"></script>
</body>
</html>